.features {
  display: flex;
  align-items: center;
  padding: 2rem 0;
  width: 100%;
  background-color: var(--ifm-color-primary);
  /* margin-bottom: -20rem; */
}

.feature {
  cursor: pointer;
}

.content {
  color: white;
}

.projectImg {
  height: 128px;
  width: 128px;
  object-fit: contain;
}