.wrapper {
  margin: 1rem;
  font-weight: 400;
  // height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.QRCodeHeader {
  text-align: center;
  margin: auto 0;
  margin-top: 2rem;
  // padding: .5rem 0;
}
